# https://render.com/docs/blueprint-spec
services:
  - type: web
    name: rag-legal-assistant
    runtime: python
    plan: free

    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT

    envVars:
      - key: PYTHON_VERSION
        value: "3.11.9"

      - key: LLM_PROVIDER
        value: groq
      - key: LLM_API_KEY
        sync: false
      - key: LLM_MODEL
        value: mixtral-8x7b-32768
      - key: LLM_TEMPERATURE
        value: "0.2"

      - key: EMBEDDING_MODEL_NAME
        value: sentence-transformers/all-MiniLM-L6-v2

      - key: RETRIEVER_K
        value: "5"
      - key: CHUNK_SIZE
        value: "1000"
      - key: CHUNK_OVERLAP
        value: "200"

      - key: ALLOWED_ORIGINS
        value: "https://rag-legal-assistant.onrender.com"